USE [master]
GO
/****** Object:  Database [project]    Script Date: 3/2/2022 1:19:53 PM ******/
CREATE DATABASE [project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project', FILENAME = N'C:\Users\HuyLu\project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project_log', FILENAME = N'C:\Users\HuyLu\project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project]
GO
USE [project]
GO
/****** Object:  Table [dbo].[address]    Script Date: 3/2/2022 1:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[ID] [nchar](10) NOT NULL,
	[aName] [nchar](30) NULL,
 CONSTRAINT [PK_address] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cinemar]    Script Date: 3/2/2022 1:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cinemar](
	[ID] [nchar](10) NOT NULL,
	[cName] [nchar](40) NULL,
	[IDaddress] [nchar](10) NULL,
 CONSTRAINT [PK_cinemar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 3/2/2022 1:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[ID] [nchar](10) NOT NULL,
	[fname] [nchar](10) NULL,
	[lname] [nchar](10) NULL,
	[email] [nchar](10) NULL,
	[phoneNumber] [numeric](18, 0) NULL,
	[passwork] [nchar](20) NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manager]    Script Date: 3/2/2022 1:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manager](
	[ID] [nchar](10) NOT NULL,
	[fname] [nchar](10) NULL,
	[lname] [nchar](10) NULL,
	[email] [nchar](10) NULL,
	[phoneNumber] [nchar](10) NULL,
 CONSTRAINT [PK_manager] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 3/2/2022 1:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[ID] [nchar](10) NOT NULL,
	[name] [nchar](50) NULL,
	[releaseDate] [nchar](10) NULL,
	[price] [numeric](18, 0) NULL,
	[des] [nchar](50) NULL,
	[imgMovie] [nchar](20) NULL,
	[mIdAdress] [nchar](10) NULL,
	[mIdCinemar] [nchar](10) NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 3/2/2022 1:19:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket](
	[ID] [nchar](10) NOT NULL,
	[date] [date] NULL,
	[IDaddress] [nchar](10) NULL,
	[IDCustomer] [nchar](10) NULL,
	[IDMovie] [nchar](10) NULL,
	[IDCinemar] [nchar](10) NULL,
 CONSTRAINT [PK_ticket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[movie]  WITH CHECK ADD  CONSTRAINT [FK_movie_address] FOREIGN KEY([mIdAdress])
REFERENCES [dbo].[address] ([ID])
GO
ALTER TABLE [dbo].[movie] CHECK CONSTRAINT [FK_movie_address]
GO
ALTER TABLE [dbo].[movie]  WITH CHECK ADD  CONSTRAINT [FK_movie_cinemar] FOREIGN KEY([mIdCinemar])
REFERENCES [dbo].[cinemar] ([ID])
GO
ALTER TABLE [dbo].[movie] CHECK CONSTRAINT [FK_movie_cinemar]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_ticket_address1] FOREIGN KEY([IDaddress])
REFERENCES [dbo].[address] ([ID])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_ticket_address1]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_ticket_cinemar] FOREIGN KEY([IDCinemar])
REFERENCES [dbo].[cinemar] ([ID])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_ticket_cinemar]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_ticket_customer] FOREIGN KEY([IDCustomer])
REFERENCES [dbo].[customer] ([ID])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_ticket_customer]
GO
ALTER TABLE [dbo].[ticket]  WITH CHECK ADD  CONSTRAINT [FK_ticket_movie] FOREIGN KEY([IDMovie])
REFERENCES [dbo].[movie] ([ID])
GO
ALTER TABLE [dbo].[ticket] CHECK CONSTRAINT [FK_ticket_movie]
GO
USE [master]
GO
